body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primeiro{

    height: 80vh;
    width: 100vh;

}
.segundo{
    height: 60vh;
    width: 60vw;

}
.terceiro{

    height: 60vh;
    width: 60vw;

}
.cprimeiro{
    height: 80vh;
    width: 60vw;


}
@media (max-width: 768px) {
    img{
        height: 200px;
        width: 200px;
    }
}
.foto img{
  
    height: 20vh;
    width: 30vw;

}

